/* BASE */
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

/* TITULOS */
h1, h2, h3 {
    color: black;
    text-align: center;
}

/* GRID */
.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
}

/* CONTENIDO */
article {
    background: white;
    padding: 10px;
    border-radius: 5px;
}

aside {
    background: #ddd;
    padding: 10px;
}

/* IMAGEN */
img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: auto;
}

/* BOTÓN */
#btn-arriba {
    position: fixed;
    bottom: 80px; /* subimos un poco más */
    right: 20px;
    background-color: #212529;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}

/* MAIN CRECE */
main {
    flex: 1;
}

/* FOOTER */
.footer-simple {
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 15px;
}

/* 📲 TABLET */
@media (min-width: 768px) {
    .contenedor {
        grid-template-columns: 2fr 1fr;
    }
}

/* 💻 DESKTOP */
@media (min-width: 1024px) {
    .contenedor {
        grid-template-columns: 3fr 1fr;
    }
}